source https://api.nuget.org/v3/index.json
framework: net8.0
storage: none

nuget Expecto ~> 9
nuget SAFE.Server ~> 5
nuget SAFE.Client ~> 5

nuget Fake.Core.Target ~> 5
nuget Fake.IO.FileSystem ~> 5
nuget Farmer ~> 1