source https://api.nuget.org/v3/index.json

nuget Fable.Core
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget FSharp.Core
nuget Suave

nuget Fulma

clitool dotnet-fable
clitool Microsoft.DotNet.Watcher.Tools

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE