group Server
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
//#if (Server == "suave")
  nuget Suave
//#elseif (Server == "giraffe")
  nuget Giraffe ~> 1
  nuget Microsoft.AspNetCore
  nuget Microsoft.AspNetCore.StaticFiles
//#elseif (Server == "saturn")
  nuget Saturn
//#endif
//#if (Server != "suave" && !Remoting)
  nuget Fable.JsonConverter
//#endif  
//#if (Remoting && Server == "suave")
  nuget Fable.Remoting.Suave ~> 2.6
//#elseif (Remoting && Server == "giraffe")
  nuget Fable.Remoting.Giraffe ~> 2.6
//#elseif (Remoting && Server == "saturn")
  nuget Fable.Remoting.Giraffe ~> 2.6
//#endif
//#if (Deploy == "azure")
  nuget Microsoft.ApplicationInsights.AspNetCore ~> 2.2
//#endif

  clitool Microsoft.DotNet.Watcher.Tools

group Client
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fable.Core
  nuget Fable.Elmish.Debugger
  nuget Fable.Elmish.React
  nuget Fable.Elmish.HMR
//#if (Remoting)
  nuget Fable.Remoting.Client ~> 2.4
//#endif
//#if (Fulma != "none")
  nuget Fulma 1.0.0-beta-007
//#endif

  clitool dotnet-fable

group Build
  source https://api.nuget.org/v3/index.json
  generate_load_scripts: true

  nuget FAKE
//#if (Deploy == "azure")
  nuget Microsoft.Azure.Management.ResourceManager.Fluent 1.4.1
  github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs
//#endif