@charset "utf-8";

//#if (layout != "none")
// FontAwesome
$fa_font_path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// OpenSans
$FontPathOpenSans: "~open-sans-fonts/open-sans";
@import '~open-sans-fonts/open-sans';
$family-primary: 'Open Sans';

// Bulma
@import "~bulma/bulma";
//#endif

//#if (layout == "fulma-admin")
html, body {
  font-family: "Open Sans", serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background: #ECF0F3;
}

nav.navbar {
  border-top: 4px solid #276cda;
  margin-bottom: 1rem;
}

.navbar-item {
  &.brand-text {
    font-weight: 300;
  }

  font-size: 14px;
  font-weight: 700;
}

.navbar-link {
  font-size: 14px;
  font-weight: 700;
}

.columns {
  width: 100%;
  height: 100%;
  margin-left: 0;
}

.menu-label {
  color: #8F99A3;
  letter-spacing: 1.3;
  font-weight: 700;
}

.menu-list a {
  color: #0F1D38;
  font-size: 14px;
  font-weight: 700;

  &:hover {
    background-color: transparent;
    color: #276cda;
  }

  &.is-active {
    background-color: transparent;
    color: #276cda;
    font-weight: 700;
  }
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.card-header-title {
  color: #8F99A3;
  font-weight: 400;
}

.info-tiles {
  margin: 1rem 0;

  .subtitle {
    font-weight: 300;
    color: #8F99A3;
  }
}

.hero.welcome {
  &.is-info {
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
  }

  .title, .subtitle {
    color: hsl(192, 17%, 99%);
  }
}

.card .content {
  font-size: 14px;
}

.card-footer-item {
  font-size: 14px;
  font-weight: 700;
  color: #8F99A3;

  &:hover {}
}

.card-table .table {
  margin-bottom: 0;
}

.events-card .card-table {
  max-height: 250px;
  overflow-y: scroll;
}

//#endif
//#if (layout == "fulma-hero")
html, body {
  background: #EFF3F4;
  font-family: "Open Sans", serif;
}

.hero-body {
  .container {
    max-width: 700px;
  }

  .title {
    color: hsl(192, 17%, 99%) !important;
  }

  .subtitle {
    color: hsl(192, 17%, 99%) !important;
    padding-top: 2rem;
    line-height: 1.5;
  }
}

.features {
  padding: 5rem 0;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.card-image > .fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #00d1b2;
}

.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;

  h4 {
    font-size: 16px;
    font-weight: 700;
  }
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.intro {
  padding: 5rem 0;
  text-align: center;
}

.sandbox {
  padding: 5rem 0;
}

.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

//#endif
//#if (layout == "fulma-landing")
html, body {
  font-family: "Open Sans", serif;
}

.hero {
  &.is-primary {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://unsplash.it/1200/900?random") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .nav, &.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .subtitle {
    padding: 3rem 0;
    line-height: 1.5;
  }
}

//#endif
//#if (layout == "fulma-login")
html, body {
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 300;
}

.hero {
  &.is-success {
    background: #F2F6FA;
  }

  .nav, &.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.box {
  margin-top: 5rem;
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;

  img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
}

input {
  font-weight: 300;
}

p {
  font-weight: 700;

  &.subtitle {
    padding-top: 1rem;
  }
}

//#endif