<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform
                stdoutLogEnabled="true"
                stdoutLogFile="suave.log"
                startupTimeLimit="20"
                processPath="dotnet"
                arguments=".\Server.dll"/>
    </system.webServer>
</configuration>